.btn {
   outline: none !important;
   box-shadow: none !important;
}

@font-face {
    font-family: 'VCR-OSD-Mono';
    src:url('../fonts/VCR-OSD-Mono.ttf.woff') format('woff'),
        url('../fonts/VCR-OSD-Mono.ttf.svg#VCR-OSD-Mono') format('svg'),
        url('../fonts/VCR-OSD-Mono.ttf.eot'),
        url('../fonts/VCR-OSD-Mono.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: black;
  font-family: 'VCR-OSD-Mono';
}

#music {
  display: none;
}

#bgVid {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
}

#titleImg {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  margin-top: auto; 
  margin-bottom: auto;
  margin-left: auto; 
  margin-right: auto;
  max-width: 100%;
  max-height: 25%;
}

#aboutBtn {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin-top: auto; 
  margin-bottom: auto;
  margin-left: auto; 
  margin-right: auto;
}

.modal-content {
  background-color: rgba(255, 182, 193, 1);
}

#playPauseBtn {
  position: absolute;
  top: 50%;
  left: 0%; 
  right: 0%;
  margin-top: auto; 
  margin-bottom: auto;
  margin-left: auto; 
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#castBtn {
  position: absolute;
  bottom: 0%;
  right: 0%;
  
  /*TEST*/
  height: 60px;
  width:  60px;
}

#bgDiv {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 35%;
	overflow-x: auto;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
